* {
	font-family: "Roboto", sans-serif;
}

.container-archive {
	margin: auto;
	width: 1200px;
}

.container-data-mine {
	margin: auto;
	width: 1360px;
}

.dailyRecords {
	margin-bottom: 40px;
}

.property {
	margin-bottom: 40px;
	padding: 8px 16px 8px 16px;
	border: 1px solid black;
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	table {
		width: 280px;
		margin-right: 65px;

		td {
			line-height: 1.25;
		}

		td:nth-child(1) {
			font-weight: bold;
		}

		td:nth-child(2) {
			text-align: right;
		}
	}
}

.assets {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	margin-bottom: 40px;

	td {
		vertical-align: top;
		border: 1px solid black;
		margin: 0;
		padding: 0;
	}

	img {
		width: 320px;
		cursor: pointer;
	}

	.plot {
		text-align: center;
	}
}

.strategy {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;

	td {
		border: 1px solid black;
		padding-left: 4px;
		padding-right: 4px;
	}

	tr:first-child td {
		border-top: none;
	}

	td:first-child {
		border-left: none;
	}

	td:last-child {
		border-right: none;
	}

	.description {
		font-weight: bold;
	}

	.numeric {
		text-align: right;
	}
	
	.short {
		color: red;
	}
}