* {
	font-family: "Roboto", sans-serif;
}

.containerArchive {
	margin: auto;
	width: 1200px;
}

.containerDataMine {
	margin: auto;
	width: 1500px;

	h1 {
		font-size: 1.8em;
		margin: 0;
		margin-bottom: 14px;
		padding: 0;
	}
}

.dailyRecords {
	margin-bottom: 40px;
}

.property {
	margin-bottom: 40px;
	padding: 8px 16px 8px 16px;
	border: 1px solid black;
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	table {
		width: 280px;
		margin-right: 65px;

		td {
			line-height: 1.25;
		}

		td:nth-child(1) {
			font-weight: bold;
		}

		td:nth-child(2) {
			text-align: right;
		}
	}
}

.strategy {
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;

	table {
		border-collapse: collapse;
		border-spacing: 0;
		width: 730px;
	}

	th {
		color: white;
		background-color: black;
	}

	th, td {
		vertical-align: top;
		border: 1px solid black;
		padding-left: 4px;
		padding-right: 4px;
	}

	tr:nth-child(2n + 1) td {
		background-color: #e0e0e0;
	}

	img {
		cursor: pointer;
		width: 100%;
	}

	.plot {
		text-align: center;
	}

	.description {
		font-weight: bold;
		width: 140px;
	}

	.numeric {
		text-align: right;
	}
}

.weekdayPlot {
	margin-top: 20px;
	margin-left: 45px;
}

.strategyDetails {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.equityCurve {
	width: 100%;
}

.weekdayPlots {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	padding-left: 80px;
	padding-right: 80px;

	img {
		display: block;
	}
}

.features {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 20px;
	padding-bottom: 40px;

	table {
		border-collapse: collapse;
		border-spacing: 0;
		margin-top: 40px;
		margin-right: 20px;
	}

	th, td {
		padding: 2px 8px 2px 8px;
		border: 1px solid black;
	}

	th {
		text-align: left;
		color: white;
		background-color: black;
	}

	td:nth-child(2) {
		text-align: right;
	}

	tr:nth-child(2n + 1) td {
		background-color: #e0e0e0;
	}
}

.stopLoss {
	display: flex;
	flex-wrap: wrap;
}

.stopLossHeatmap {
	flex: 0 0 50%;
	box-sizing: border-box;
	height: 700px;
}