* {
	font-family: "Roboto", sans-serif;
}

.container {
	margin: auto;
	width: 1200px;
}

.dailyRecords {
	margin-bottom: 40px;
}

.property {
	margin-bottom: 40px;
	padding: 8px 16px 8px 16px;
	border: 1px solid black;
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	table {
		width: 280px;
		margin-right: 65px;

		td {
			line-height: 1.25;
		}

		td:nth-child(1) {
			font-weight: bold;
		}

		td:nth-child(2) {
			text-align: right;
		}
	}
}

.assets {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;

	th {
		text-align: left;
	}

	th, td {
		vertical-align: top;
		border: 1px solid black;
	}

	td.numeric {
		text-align: right;
	}

	img {
		width: 240px;
	}

	td:last-child {
		text-align: center;
	}

	.short {
		color: red;
	}
}